:root {

    --my_primary_light_bg: #f8f8f8;
    --header-color: #b4c6d0;
    --my-font-color: #303c43ff;
    /* font-size: 0.875em; */
    font-size: calc(0.5em + 1vw);
    /* --bs-navbar-padding-y:0 !important; */
}
::-webkit-scrollbar {
    width: 0;
  }
  :root{
    scrollbar-width: none !important; 
  }

@font-face {
    font-family: "Neucha-Regular";
    src: url('../font/Neucha-Regular.ttf');
}

@font-face {
    font-family: "HachiMaruPop-Regular";
    src: url('../font/HachiMaruPop-Regular.ttf');
}
body{
background-color: var(--my_primary_light_bg);

}

header.navbar {
    background-color:var(--header-color) ;
font-family: "Neucha-Regular";
text-transform: uppercase;
font-weight: 900;
letter-spacing: 3px;
font-size: 0.8rem;

}

.myPage{
min-height: 100vh;

}


.myPage1 {

    display: flex;
    justify-content: center;
    align-items: center;
}

.myMainLogo{
background-image: url('../img/MainLogo.svg');
background-repeat: no-repeat;
background-position:center center;
background-size:contain;
min-height: 10rem;
width: 100%;
margin-top: 4rem;
}

.myHello{
font-family: "HachiMaruPop-Regular";
font-size: 1.5rem;
margin-top: 3rem;
margin-bottom: 1rem;
text-transform: uppercase;
height: auto;
background-color: var(--my_primary_light_bg);
}

.myRedArrowForDownMotion{
 background-image: url('../img/redArrow.svg');
 background-repeat: no-repeat;
 background-position: center center;
 background-size: contain;
 margin-bottom: 5rem;
 height: 5vh;
 cursor: pointer;
animation: move-up-down 2s ease-in-out infinite; 
filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5)); 
}
.myDogDecoration{
background-image: url('../img/Dog.svg');
background-size: contain;
background-repeat: no-repeat;
background-position: center ;
height: 10rem;
animation: moveAndRotate 20s infinite;

}

.myCatDecoration{
    background-image: url('../img/Cat.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
    height: 10rem;
    animation: moveAndRotate 15s infinite;
    
}
    .myCrazyCatDecoration{
        background-image: url('../img/CatCrazy.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center ;
        height: 10rem;
        opacity: 0.8;
        margin-top: 5rem;
        animation: moveUpDown 8s infinite;
    }
    .myPresentText{
        font-family: "HachiMaruPop-Regular";
        font-size: 1.5rem;

    }

    .washDecorate{

        background-image: url('../img/wash.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center ;
        height: 30rem;
        /* display: statick; */
        /* animation: RotateAngle 8s infinite; */
    }

.bubble{
    background-image: url('../img/bubble.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 2rem;
    width: 2rem;
    
    opacity: 0.5;
   top: 65%;
   left:  40%;
   animation: FlyBubbles 2s linear infinite;
}
.bubble1{
    background-image: url('../img/bubble.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 3rem;
    width: 3rem;
    /* margin-bottom: 3rem; */
    opacity: 0.5;
    top: 70%;
    left:  50%;
    animation: FlyBubbles 3s linear infinite;
}

.bubble2{
    background-image: url('../img/bubble.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 1rem;
    width: 1rem;
    /* margin-bottom: 3rem; */
    opacity: 0.5;
    top: 70%;
    left:  65%;
    animation: FlyBubbles 4s  linear infinite;


}
.my_article_header{

    font-weight: 800;
}
.my_description{

font-size: 1rem;
margin-top: 1rem ;
font-weight: 300;

}
.my_description span {

    font-size: 0.7rem;
    opacity: 0.7;
}

.my_circle{

background-image: url('../img/circle.svg');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
 height: 22rem;
animation: rotate 15s ease-in-out infinite; 
border-radius: 50%;
}
.my_house{

    background-image: url('../img/house.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 8rem;
}
.my_social_link .nav-item{


    opacity: 0.7;
}

body{
    overflow-x: hidden !important;
}
.myPage4{
   
background-image: url('../img/design.svg');
background-repeat:repeat-x;
background-position: left bottom;
background-size: 30rem;


}

    @keyframes moveUpDown {
        0% {
            transform: translateY(0); /* Начальная позиция */
        }
        50% {
            transform: translateY(-50px); /* Двигаемся вверх */
        }
        100% {
            transform: translateY(0); /* Возвращаемся на начальную позицию */
        }
    }    
    
    @keyframes moveAndRotate {
        0% {
            transform: translateY(0) rotate(0deg); /* Начальная позиция */
        }
        50% {
            transform: translateY(-100px) rotate(180deg); /* Вверх и поворот */
        }
        100% {
            transform: translateY(0) rotate(360deg); /* Назад в исходное положение */
        }
    }

    @keyframes RotateAngle{

 0%{
    transform: translateY(0) rotate(0deg);
}

50% {
    transform: translateY(-10px) rotate(5deg); 
}

100% {
    transform: translateY(0) rotate(0deg);
}

    }

    @keyframes FlyBubbles {
0%{
    transform: translateY(0);
    opacity: 1;
}
50%{
    transform: translateY(-50px);
    opacity: 0.5;
}
100%{
    transform: translateY(-100px);
    opacity: 0;
}


    }

    @keyframes rotate {
        from {
            transform: rotate(0deg); /* Начальное положение */
        }
        to {
            transform: rotate(360deg); /* Конечное положение */
        }
    }

    .CatCrazySvg{
        /* height: 20rem;
        width: 20rem; */
        transform: rotate(-45deg);
       
    }
    .CatCrazySvg .st0 {

        stroke-width:10 !important;
    }


    .DogSvg .st0 {
        /* stroke:#303C43; */
        stroke-width:10 !important;
        stroke:#e69730 !important;
    }
   

.CatSvg .st0 , .CatSvg .st1, .CatSvg .st2, .CatSvg .st3 {

    stroke: #cd83ca !important;

}   

.LogoInToStore{
background: url('../img/LogoInToStore.svg');          
width: 100%;
min-height:40vh ;
display: block;
background-repeat: no-repeat ;
background-position: center;
background-size: 15rem;
background-size: contain;
animation: sway 1s  infinite; 
filter: drop-shadow(2px 15px 5px rgba(0, 0, 0, 0.5));
}

.CatPageInToStore{
    background: url('../img/Cat.svg');
    min-height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .7;
    background-position: left bottom;   
}

.CrazyCatPageInToStore{
    background: url('../img/CatCrazy.svg');
    min-height: 30vh;  
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .7;
  background-position: right bottom;

}
.FishPageInToStore{
    background: url('../img/Fish.svg');

    min-height: 30vh;
    
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .7;
    background-position: left bottom; 
}
.DogPageInToStore{

    background: url('../img/Dog.svg');
    min-height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .7;
    background-position: right bottom;
}
@keyframes sway {
    0%   { transform: translateX(0); }     /* Исходное положение */
    25%  { transform: translateX(-15px); } /* Положение влево */
   50%  { transform: translateX(0); }     /* Возврат к исходному */
    75%  { transform: translateX(15px); }  /* Положение вправо */
    100% { transform: translateX(0); }     /* Возврат к исходному */
}
.myPage5{
    margin-bottom: 1rem;
}
.myPage6{

    min-height: 50vh;
    background-color:var(--header-color);
    font-family: 'Neucha-Regular';
    text-align: center;
}

.myRedArrowForTopMotion{

    background-image: url('../img/redArrowTop.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 5rem;
    height: 5vh;
    cursor: pointer;
   animation: move-up-down 2s ease-in-out infinite; 
   filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.5)); 
transform: rotate(100deg) !important;


}


@keyframes move-up-down {
    0% {
        transform: translateY(0); /* Начальное положение */
    }
    50% {
        transform: translateY(-20px); /* Поднятие вверх */
    }
    100% {
        transform: translateY(0); /* Возвращение в исходное положение */
    }
}

.nav-item > .active {

    border-bottom: 1px solid  var(--my-font-color) !important;

    font-weight: 600;    
}

    .my-main-navigate-link >  .nav-item{

        margin-left: 2rem;
    font-weight: 400 !important;
    }
.myFooter{

    font-size: 1.5rem;
}    
.myFooter_sign{
margin-bottom: 2rem !important;
}