:root {

    --my_primary_light_bg: #f8f8f8;
    --header-color: #b4c6d0;
    --my-font-color: #303c43ff;
    font-size: 0.875em;


}

@font-face{
    font-family: "Exo 2 Bold";
    src: url(/font/Exo2-Bold.ttf);

}

@font-face {
    font-family: "Neucha-Regular";
    src: url(/font/Neucha-Regular.ttf);
}
body{
background-color: var(--my_primary_light_bg);

}

header.navbar {
    background-color:var(--header-color) ;
font-family: "Neucha-Regular";
text-transform: uppercase;
font-weight: 900;
letter-spacing: 3px;
font-size: 1.2rem;
padding: 0 !important;
}

header.navbar .navbar-brand {

    padding-top:0;
     padding-bottom:0 ;
}
header .active{

  background-image: url('/img/arrowBottom.svg');  
  background-repeat: no-repeat;
  background-position:  bottom   center;
  
/* color: var(--my-font-color) !important; */
  /* background-origin: content-box; */

}

.my-main-navigate-link .nav-link{
/* color: var(--my-font-color) !important; */
padding-bottom: 1rem;
padding-top: 1rem;
}