@media(max-width: 991px) {


.navbar-toggler:focus {
    box-shadow: initial !important;

}


.my-main-navigate-link > .nav-item {
    margin-left: initial !important; 
     font-weight: inherit; 
}

.my-main-navigate-link {

    align-items: center;
    font-size: 1.5rem;
    
    }
    .my-main-navigate-link > .nav-item{
    
    margin-bottom: 1rem;
    
    }
    
    .my_social_link{
align-items: center;
justify-content: space-around;
flex-direction: row;
font-size: 2rem;
opacity: 0.6;
/* margin-top: 2rem; */
    }

    .myHello{
font-size: 1.3rem;

    }
 
    @keyframes moveAndRotate {
        0% {
            transform: translateY(0) rotate(0deg); /* Начальная позиция */
        }
        50% {
            transform: translateY(-4em) rotate(180deg); /* Вверх и поворот */
        }
        100% {
            transform: translateY(0) rotate(360deg); /* Назад в исходное положение */
        }
    }

    .MyContainerForDownScroll{
display: none !important;

    }

    .my_description{

        font-size: 1.3rem;
     
    }
    .myPresentText {

        font-size: 2.1rem;
    }

/* 
.myPage3 {
    margin-bottom: 5rem !important;
} */

.myPage3 .row  {
    /* background-color: blueviolet; */
    min-height: 100vmax;
    padding:  1rem 0 1rem 0 !important;
    display: flex;
    align-content: space-around !important;


}
.myPage{
margin: 5rem 0 5rem 0;
}

.myPage4{
min-height: 100vmax !important;


}
.FishPageInToStore {
background-position:  left bottom 1rem;
transform: rotate(-30deg);
background-size: 60%;

}

.myPage + .myPage6 {
    margin-bottom: 0;
}

.myBackgroundColor{
      
    position: relative;
    background-color: var(--my_primary_light_bg);
   z-index: 10;
 
  }

    }
